<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Bank Account verifizieren</title>
  <!-- Für Apple-Geräte -->
  <link rel="apple-touch-icon" sizes="180x180" href="static/favicon/apple-touch-icon-180x180.png">
  <!-- Für Browser -->
  <link rel="shortcut icon" type="image/x-icon" href="static/favicon/favicon-32x32.ico">
  <link rel="icon" type="image/png" sizes="96x96" href="static/favicon/favicon-96x96.png">
  <!-- Für Windows Metro -->
  <meta name="msapplication-square310x310logo" content="static/favicon/mstile-310x310.png">
</head>
<body>
  <h1>Bank verifizieren</h1> 
  <form action="/auth/bank-submit" method="POST">
    <label for="iban">IBAN:</label>
    <input type="text" id="iban" name="iban" required>
    <br>
    <label for="email">Email Address:</label>
    <input type="text" id="email" name="email" required>
    <input type="submit">
    <br>
  </form>
</body>
</html>